*{
    border: none;
    padding: 0;
    margin: 0;
    list-style:none;
    text-decoration: none;
    outline:none;
}

:root{
    --tituloPrincipal: "Nunito";
    --tituloTerciario: "Archivo black";
    --textBotones: "Roboto";
    --primario: #5C9632;
    --s1_primario: #486831;
    --l1_primario: #70C931;
    --secundario: #797C76;
    --s1_secundario: #363636;
    --neutro: #FFFFF2;
}

header {
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 45px;
    background-color: var(--s1_secundario);
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

img{
padding: 6px;
}

.carousel-container{
    display:flex;
    overflow-x: scroll;
    width: 390px;
    padding: 5px 5px 10px 5px;
}

.carousel{
    background-color: var(--s1_primario);
    width: 400px;
    padding-top: 45px;
    font-family:var(--tituloPrincipal);
    font-size: 16px;
}

.carouselCategorias{
   
    background-color: var(--l1_primario);
    width: 400px;
    height: 105px;
    border-top: 20px solid var(--neutro);
    padding-top: 5px;

    

}



.cardCategoria{
    display: flex;
    flex-direction: column;
    width: 90.42px;
    height: 75.54px;
    box-shadow: 5px 5px 10px #828B79;
    background-color: var(--neutro);
    
    border-radius: 5px;
}

.img-cardCategoria{
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 90.42px;
    height: 75%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px #828B79;
    border-radius: 10px;
    margin-right: 10px;   
    background-color:var(--neutro) 
}

.img-card{
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 163px;
    height: 85px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.text-card {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;    
    width: 100%;
    height: 35px;      
}

.text-cardCategoria{  
    display: flex;
    flex-direction: row;
    justify-content:space-around;
   
    height: 18.3px;
    font-size: 9px;
       
}



.formulario{
    background-color: #363636;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 39%;
    height: 500px;
}
.imgForm{
    padding: 0px;
    width: 50%;    
}
.tituloForm{
    
}
.textoForm{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: 50%;
    height: 85%;
    margin: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
}
.campoCompletar{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
    
}
.ojoContraseña svg{
    position: absolute;
    right: 5px;
    margin-top: 2px;
}
.ojoContraseña{
    position: relative;
    
}
.ojoContraseña input{
    width: 100%;
}
.cancel-button{
    position: absolute;
    top: 5px;
    right: 61.5%;
    background: transparent;
}
.captcha {
    background-color: #f0f0f0;
    padding: 1px;
    margin: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
}
.captchaSignin{
    width: 150px;
}
.captcha > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}
.captcha > div p{
    margin-left: 10px;
}
.lineO{
    position: absolute;
    margin-top: 60px;
}
.sesionCon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78%;
    border-radius: 15px;
    font-size: 10px;
}
.acceder{
    padding: 9px;
    width: 110%;
    border-radius: 15px;
    margin-top: 25px;
}
.linkRegistro{
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    /*espacion entre ? y R*/
}
.textoFormSignin{
    height: 90%;
    
}
.formSignin{
    border-radius: 5px;
    width: 39%;
    height: 600px;
}
.tituloForm{
    /*acomodar crea tu cuenta, mas arriba*/
    
}

/* Estilos específicos para computadoras */
@media screen and (min-width: 1024px) {
    header {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: var(--s1_secundario);
        align-items: center;
        justify-content: space-between;
    }
    .buscar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 15px;
        background-color: var(--neutro);
        height: 30px;
        width: 280px;

    }
    .inputBuscar{
        margin: 10px;
        height: 20px;
        width: 250px;
    }
    .logoBuscar{
        padding-right:3px;
        margin: 8px;
        height: 20px;
    }
}
.telekino{
    margin-top: 3px;
}
.xBoton{
    position: absolute;
    margin: 7px;
    left: 98%;
    background: transparent;
}
/*fijarme esto*/
.fondoJuego{
    width: 100%;
    height: 1200px;
    margin-top: 1px;
    background-color: var(--s1_secundario);  
}

.cajaDelJuego{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px;
}
.cajaDelJuego > div{
    padding: 3px 0px 0px 10px;
}
.posDondeEstoy{
    display: flex;
    flex-direction: row;
}
.juego{
    display: flex;
    justify-content: center;
}
.juego img {
    border-radius: 15px;

}
/*xq no me anda*/
.botonPlay{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    border: 0;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    /*background-image: linear-gradient(150deg, #5C9632, #ccc, --neutro);*/
    cursor: pointer;
    transition: .3s;
    background-color: #5C9632;
    position: absolute;
}
.botonPlay span{
    margin-left: 30px;
}
.botonPlay:hover {
    background-color: #363636;
    
}
button:active{
    transform: scale(0.9);
}
.iconsJuego{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 60px;
    margin: 20px 0px 20px 0px;
}
/*pop up*/
.instruccionJuego{
    display: flex;
    background-color: #5C9632;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 300px;
    width: 20%;
}
.instruc{
    background-color: red;
    width: 2px;
    height: 240px;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px #363636;
}
.fondoImgJuegos {
    background-color: #797C76;
    width: 95%;
    margin: auto;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 40px 0px 10px 10px;
    flex-direction: column;
    border-radius: 15px;
    /*box-shadow: 0 2px 14px rgba(0 ,0, 0, 2);
    agregar sombra*/
}

.imgJuegos{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.imgJuegos > img{
    padding: 10px;
}
.caractJuegoyPublic{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.caracteristicasJuego{
    background-color: #797C76;
    width: 1320px;
    height: 604px; 
    margin: 12px 12px 12px 0px;
    border-radius: 15px;
    padding: 12px;
}
.caractJuego{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    font-size: 30px;
    padding: 10px 0px 0px 0px;
}
.caractJuego p{
    padding: 20px;
}
.caractJuego h3 {
    padding: 20px;
}
.imgPublic{
    margin-top: 16px;
}
.explicacionJuego{
    font-size: 30px;
}
.explicacionJuego h2{
    padding: 10px;
}

.footer2{
    display: flex;
    flex-direction: row;
    
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to top, var(--s1_secundario) , var(--neutro) );
    width: 400px ;
    height: 250px;
    border-top: 20px solid var(--neutro);
}
.footerIcons{
    width: 200px;
    justify-content: space-around;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hidden{
    display: none;
}

.menu-icon {
    cursor: pointer;
    fill: #FFFFF2; 
}

#menu {
    list-style: none;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 45px; /* Coloca el menú en la parte superior */
    left: 0; /* Alinea el menú a la izquierda */
    right: 0; /* Alinea el menú a la derecha */
    z-index: 1000; 
    width: 120px;
}

#menu li {
    margin: 10px 0;
}

#menu a {
    text-decoration: none;
    color: white;
}

.contenedor{
    background-color: var(--neutro);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    transition: all 1.5s;
    display: flex;
    align-content: center;
    justify-content: center;
}

.loader, .loader:before, .loader:after{
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}

.loader{
    color: var(--secundario);
    position: relative;
    animation-delay: -0.16s;
}

.loader:before, .loader:after{
    content:'';
    position: absolute;
    top:0;
}

.loader:before{
    left:-3.5em;
    animation-delay: -0.32s;
}

.loader:after{
    left: 3.5em;
}

@keyframes loader{
    0%,
    80%,
    100%{
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40%{
        box-shadow: 0 2.5em 0 0;
    }
}

.loader-inner {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 5s infinite ease-in-out;
    position: relative;
    animation-delay: -0.16s;
}

.loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a span:hover{
    color: var(--secundario);
}
